<!-- Bottom Navbar -->
<nav class="fixed bottom-0 left-0 right-0 bg-black border-t border-gray-800 flex justify-around items-center h-12 text-xs text-gray-400 z-50">
  <a href="/user/netflex/home" class="flex flex-col items-center">
      <i class="fas fa-home text-lg"></i>
          <span class="text-[10px]">Home</span>
            </a>
  <a href="/netflex/flex" class="flex flex-col items-center relative" id="msgNav">
        <i class="fas fa-folder text-lg"></i>
                <span class="text-[10px]">Flex</span>
                <!-- Red dot -->
           <a href="/user/netflex/tvshows" class="flex flex-col items-center">
                              <i class="fas fa-tv text-lg"></i>
                                  <span class="text-[10px]">TV</span>
                                    </a>
                      <a href="/user/netflex/me" class="flex flex-col items-center">
                       <i class="fas fa-user text-lg"></i>
                  <span class="text-[10px]">Me</span>
                     </a>
                          </nav>
<style>
  .bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 55px;   /* smaller height */
    font-size: 14px; /* smaller icons/text */
    border-top: 1px solid #222;
  }
  .bottom-nav a {
    flex: 1;
    text-align: center;
    padding: 6px 0;
  }
  #msgDot {
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 9999px; /* fully round */
  }
</style>
            
  	                             
  	                                
  	                                                
